section {
  margin-top: 10px;
}
h2 {
  padding-left: 25px;
  font-size: 18px;
}
p {
  margin-top: 5px;
  width: 80%;
  margin-left: 15px;
}
@media(min-width: 400px) {
  section {
    margin-top: 20px;
  }
  h2{
    padding-left: 30px;
    font-size: 24px;
  }
  p{
    margin-top: 10px;
    margin-left: 20px;
    font-size: 18px;
  }
}
@media(min-width: 768px) {
  section {
    margin-top: 30px;
  }
  h2{
    padding-left: 40px;
    font-size: 28px;
  }
  p{
    margin-top: 25px;
    margin-left: 30px;
    font-size: 20px;
  }
}
@media(min-width: 1024px) {
  section {
    margin-top: 35px;
  }
  h2{
    padding-left: 50px;
    font-size: 32px;
  }
  p{
    margin-top: 35px;
    margin-left: 40px;
    font-size: 24px;
    width: 70%;
  }
}
@media(min-width: 1300px) {
  section {
    margin-top: 35px;
  }
  h2{
    padding-left: 50px;
    font-size: 36px;
  }
  p{
    margin-top: 35px;
    margin-left: 40px;
    font-size: 26px;
    width: 70%;
  }
}