body{
  height: 240vh;
}
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

header {
  position: relative;
  height: 60vh;
  background-image: url("../img/two.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
header div{
  position: absolute;
  width: 100%;
  padding: 10px;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  background-color: rgba(0,0,0,0.1);
  color: white;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  font-size: 16px;
}
@media(min-width:360px){
  header div{
  font-size: 20px;
  }
}
@media(min-width:760px){
  header div{
  font-size: 25px;
  padding: 15px;
  }
}
@media(min-width:1024px){
  header{
    height: 70vh;
  }
  header div{
  font-size: 30px;
  padding: 20px;
  }
}
@media(min-width:1300px){
  header{
    height: 80vh;
  }
  header div{
  font-size: 36px;
  padding: 25px;
  }
}
